html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #A8DAFF;
	position: relative;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

canvas#main-canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.init {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 10;
}

.intro {
	box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	margin: 0;
	padding: 0;
	width: 28%;
	height: 100%;
	background-color: #6E6E6E;
	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 10;
	border: 7px solid white;
}

#reset {
	box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 100%;
	background-color: #6E6E6E;
	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 10;
	border: 7px solid white;
}

.textWrap {
	position: relative;
	width: 85%;
	margin: 0 auto;
    top: 40%;
    transform: translateY(-40%);
    line-height: 210%;
    text-align: center;
}
h1 {
	margin-bottom: 70px;
	text-align: center;
	font-size: 2.5em;
	text-shadow: 4px 4px #FFF2A4;
}

ul {
	text-align: left;
	font-size: 1.2em;
}

#resetBtn {
	margin-top: 10px;
	width: 70px;
}

.scoreWrap {
	width: 100%;
	position: absolute;
	top: 150px;
  	z-index: 10;
  	font-size: 5em;
}

@media only screen and (max-width:1635px) {
	h1 {
		font-size: 1.5em;
	}

	ul {
		font-size: 1em;
	}
} 

@media only screen and (max-width:1036px) {
	.intro {
		width: 100%;
		height: 30%;
	}

	#reset {
		width: 100%;
		height: 25%;
	}

	.textWrap {
		width: 90%;	   
	    line-height: 120%;
	}

	h1 {
		margin-bottom: 0px;
	}

} 

@media only screen and (max-width:730px) {
	.intro {
		width: 100%;
		height: 40%;
	}

	#reset {
		width: 100%;
		height: 30%;
	}

	#resetBtn {
		margin-top: 10px;
		width: 50px;
	}

} 
